USE [AdventureWorks]
GO
/****** Object:  Table [Cache].[Employee]    Script Date: 16.02.2020 4:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF OBJECT_ID('[Cache].[Employee]', 'U') IS NOT NULL
DROP TABLE [Cache].[Employee];

GO

CREATE TABLE [Cache].[Employee](
	[UserID] [int] NOT NULL,
	[NationalIDNumber] [nchar](15) NOT NULL,
	[LoginID] [nvarchar](256) NOT NULL,
	[OrganizationLevel] [smallint] NULL,
	[JobTitle] [nchar](50) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[MaritalStatus] [nchar](1) NOT NULL,
	[Gender] [nchar](1) NOT NULL,
	[HireDate] [date] NOT NULL,
	[VacationHours] [smallint] NOT NULL,
	[SickLeaveHours] [smallint] NOT NULL
) ON [PRIMARY]
GO
INSERT [Cache].[Employee] ([UserID], [NationalIDNumber], [LoginID], [OrganizationLevel], [JobTitle], [BirthDate], [MaritalStatus], [Gender], [HireDate], [VacationHours], [SickLeaveHours]) VALUES (1, N'295847284      ', N'adventure-works\ken0', 0, N'Chief Executive Officer                           ', CAST(N'1963-03-02' AS Date), N'S', N'M', CAST(N'2003-02-15' AS Date), 99, 69)
INSERT [Cache].[Employee] ([UserID], [NationalIDNumber], [LoginID], [OrganizationLevel], [JobTitle], [BirthDate], [MaritalStatus], [Gender], [HireDate], [VacationHours], [SickLeaveHours]) VALUES (2, N'245797967      ', N'adventure-works\terri0', 1, N'Vice President of Engineering                     ', CAST(N'1965-09-01' AS Date), N'S', N'F', CAST(N'2002-03-03' AS Date), 1, 20)
INSERT [Cache].[Employee] ([UserID], [NationalIDNumber], [LoginID], [OrganizationLevel], [JobTitle], [BirthDate], [MaritalStatus], [Gender], [HireDate], [VacationHours], [SickLeaveHours]) VALUES (3, N'509647174      ', N'adventure-works\roberto0', 2, N'Engineering Manager                               ', CAST(N'1968-12-13' AS Date), N'M', N'M', CAST(N'2001-12-12' AS Date), 2, 21)
GO
